root=
mailhub={{ smtp_host }}:{{ smtp_port }}
RewriteDomain={{ smtp_domain }}
FromLineOverride={{ smtp_from_line_override }}
UseTLS=YES
UseSTARTTLS={{ smtp_start_tls }}
AuthMethod=LOGIN
TLS_CA_File=/etc/pki/tls/certs/ca-bundle.crt
AuthUser={{ smtp_authuser }}
AuthPass={{ smtp_authpassword }}
